<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KakaoMapsAPI-iOS-SPM-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KakaoMapsAPI-iOS_SPM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KakaoMapsAPI_SPM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KakaoMapsOpenAPI-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KakaoMapsOpenAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KakaoMapsOpenAPISPM-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KakaoMapsOpenAPISPM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KakaoMapsOpenAPI_SPM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>KakaoMapsAPI-SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsAPI-iOS-SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsAPI-iOS_SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsAPI-iOS_SPM_KakaoMapsAPI-iOS-SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsAPI_SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsAPI_SPM_KakaoMapsAPI-SPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsOpenAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsOpenAPISPM</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsOpenAPISPM_KakaoMapsOpenAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>KakaoMapsOpenAPI_KakaoMapsOpenAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
